.addNewItemBar{
    padding: 30px
}

.goBackLink {
    margin-bottom: 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.goBackLink b{
    font-size: 12px;
    margin-left: 3px;
}

.goBackLinkContainer{
    text-decoration: none;
    color: black;
}