.shoppinglist {
    font-family: Helvetica;
    font-style: normal;
}

.categoriesheader{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.shoppingicons{
    font-size: 8px;
    line-height: 9px;
}

.bcolor{
    background: #F0F7FA;
    font-size: 14px;
    line-height: 16px;
}

.completedtext{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #416EA3;
}

.addicon{
    position: fixed;
    bottom: 75px;
    right: 25px;
    min-width: 50px;
    width: 15%;
}

