div.popover-body {
    padding: 0;
}

.listfont {
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
}

.item-group .checkmark {
    height: 16px;
    width: 16px;
}

.item-group strong{
    font-weight: 100;
}

.item-group div.custom-checkbox{
    padding: 3px 0 0 0;
}