.map-area{
    position: relative;
}

#upper-layer{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.image-marker__marker{
    cursor: pointer;
    z-index: 2;
}

#upper-layer .image-marker__image{
    opacity: 0;
}